body {
        background-color: #FFFFFF;
        font-family: sans-serif;
		color: #000000; 
}

#tweetsbox {
	font-size: 10px;
	color: #0000FF;
	border-style: dotted;
	border-width: 2px;
	border-color: #0276FD;
	width: 300px;
	height: 400px;
	background-color: #E6E8FA;
}